@import "tailwindcss";

@font-face {
  font-family: 'Proxima Nova';
  src: url('/Proxima Nova/Proxima Nova Light/Proxima Nova Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/Proxima Nova/Proxima Nova Regular/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/Proxima Nova/Proxima Nova Extrabold/Proxima Nova Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: 'Proxima Nova', sans-serif;
}

@theme {
  --color-primary-black: #013237;
  --color-primary-gray: #00000066;
  --color-primary-light-blue: #E6EAFF;
  --color-primary-dark-blue: #000625;
}
