@import "tailwindcss";

html,
body {
  height: 100%;
}

@theme {
  --color-primary-black: #013237;
  --color-primary-gray: #00000066;
  --color-primary-light-blue: #E6EAFF;
  --color-primary-dark-blue: #000625;
}
